@import '_basscss-custom';

.header {
  margin: 20vh 0;
}

.list-link {
  text-decoration: none;
  color: black;
  background-color: transparent;
  transition: background-color 0.15s linear;
}
.list-link:hover {
  background-color: rgb(255, 255, 220);
}
.list-link:after {
  content: "\00a0→\00a0";
  color: rgb(140, 140, 140);
}

.gray {
  color: #666;
}

ul > li {
  list-style: square;
  color: rgb(200,200,200);
}