@import '_basscss-custom';

.header {
  margin: 200px 0;
}

.blob {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  border-size: 2px;
  border-style: solid;
  border-color: #F3C300;
}

.list-link {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #ddd;
}

.gray {
  color: #666;
}