* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

a:link, a:visited {
  color: black;
}

h1 {
  font-size: 16px;
  padding: 1em;
}

.tmpl-post {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 8em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 8em;
}

.tmpl-post h2 {
  font-size: 32px;
}

p,
.tmpl-post p {
  font-size: 20px;
  line-height: 1.45;
  margin-bottom: 1em;
}
.tmpl-post li {
  font-size: 20px;
  line-height: 1.45;
  margin-bottom: 0.5em;
}

.home {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 8em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
}

.postlist {
  list-style: none;
  padding: 0;
}
.postlist-date {
  font-size: 16px;
  margin-left: 12px;
}
.postlist-link {
  font-size: 20px;
  font-weight: bold;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {

}