---
layout: projects
title:  "Journal"
date:   2014-04-20 20:17:32
---

<ul class="journal-list">
  {% for post in site.posts %}
    <li>
      <a href="{{ post.permalink }}/">
        {% if post.preview_image %}
        <img class="entry-image" src="{{ post.preview_image }}">
        {% endif %}
        <p class="title" style="background-image: url({{ post.preview_image }});">{{ post.title }}</p>
        <p class="date">{{ post.date | date: "%B %-d, %Y" }}</p>
      </a>
    </li>
  {% endfor %}
</ul>

{% include journal-footer.html %}