<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Joshua Jenkins{% if page.title %}&mdash;{{ page.title }}{% endif %}</title>
        <meta name="author" content="Joshua Jenkins">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7675692/709244/css/fonts.css" />
        <link rel="shortcut icon" href="/img/favicon.ico">
        {% for css in page.extra_css %}
            <link rel="stylesheet" href="{{ css }}" />
        {% endfor %}
    </head>
    {% if page.special_page_class %}
    <body class="{{ page.special_page_class }}">
    {% else %}
    <body>
    {% endif %}

        <section id="wrapper">
            {% include global-nav.html %}
            {{ content }}
        </section> <!-- /container -->
        {% include journal-footer.html %}
        <script src="/js/site.js"></script>
        {% include analytics.html %}
    </body>
</html>
