<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Joshua Jenkins{% if page.title %}&mdash;{{ page.title }}{% endif %}</title>
        <meta name="author" content="Joshua Jenkins">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="shortcut icon" href="/img/favicon.ico">
        {% for css in page.extra_css %}
            <link rel="stylesheet" href="{{ css }}" />
        {% endfor %}
        <link rel="canonical" href="http://joshuajenkins.com{{ page.permalink }}/" />
        <script src="//use.typekit.net/hyu6rvn.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

        <meta property="og:site_name" content="Joshua Jenkins" />
        <meta property="og:url" content="http://joshuajenkins.com{{ page.permalink }}/" />
        <meta property="og:title" content="Joshua Jenkins{% if page.title %}—{{ page.title }}{% endif %}" />
        {% if page.description %}
        <meta property="og:description" content="{{ page.description }}" />
        {% endif %}
        {% if page.preview_image %}
        <meta property="og:image" content="http://joshuajenkins.com{{ page.preview_image }}" />
        {% endif %}

        <meta name="twitter:url" content="http://joshuajenkins.com{{ page.permalink }}/">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@joshuajenkins">
        <meta name="twitter:creator" content="@joshuajenkins">
        <meta name="twitter:title" content="Joshua Jenkins{% if page.title %}—{{ page.title }}{% endif %}">
        {% if page.description %}
        <meta name="twitter:description" content="{{ page.description }}">
        {% endif %}
        {% if page.preview_image %}
        <meta name="twitter:image" content="http://joshuajenkins.com{{ page.preview_image }}">
        {% endif %}
    </head>
    <body>

        <div class="siteWrapper">
            {% include global-nav.html %}

            {{ content }}
        </div> <!-- /container -->

        <script src="/js/site.js"></script>
        {% include analytics.html %}
    </body>
</html>
