@import 'helpers';
@import 'vars';

#about p {
	padding: 0 $page-padding;
}

#about .photo {
	max-width: $width-paragraph;
	padding: 0 $page-padding;
	margin: $baseline*2 auto $baseline*2 auto;

	img {
		display: block;
		max-width: 40%;
		margin: 0 auto;
		border-radius: 50%;
	}

	p {
		margin: $baseline 0 0 0;
		max-width: 66.6%;
		padding: 0;
		font-size: $font-small;
		color: $grey;
		font-style: italic;
	}
}

@media screen and (max-width: 500px) {
	
	#about .photo img {
		float: none;
		max-width: 100%;
	}

	#about .photo p {
		max-width: 100%;	
	}
}