.header {
  @extend %clearfix;

  max-width: $width-paragraph;
  padding: 0;
  margin: $baseline*2 auto $baseline auto;
}
.header-title {
  font-weight: 700;
  font-size: $font-regular;
  font-family: $font-text;
  line-height: $baseline;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: $baseline*4;
  padding: 0;
}
.header-link:link,
.header-link:visited {
  border: none;
}