.header {
  @extend %clearfix;

  max-width: $width-paragraph;
  padding: 0;
  margin: $baseline*3 auto;
}
.header-title {
  font-weight: 700;
  font-size: $fontSize-small;
  font-family: $font-sans;
  line-height: $baseline;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.header-link:link,
.header-link:visited {
  border: none;
}
.header-twitterLink {
  font-size: $fontSize-small;
  margin: 0;
  line-height: $baseline;
}
.header-link--twitter:link,
.header-link--twitter:visited {
  color: $midgrey;
}