.journal-list {
  list-style: none;
  margin: $baseline*4 0 0 0;
  padding: 0;

  text-align: center;

  li {
      margin-bottom: 80px;

    a {
      display: block;
      border: none;
    }

    .title {
      color: rgb(0,0,0);
      line-height: 1.2em;
      font-weight: 800;
      font-family: $font-display;
      font-size: $font-medium;

      transition: transform 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
    }

    .date {
      font-size: $font-small;
      font-weight: 300;
      color: #aaa;
    }

    &:hover .title {
      transform: rotateY(-15deg);
    }
  }
}

@media screen and (max-width: 500px) {

  .journal-list li .title {
    font-size: $font-medium;
  }
}