.article {
  p {
    padding: 0;
    max-width: $width-paragraph;
    margin: 0 auto;
    line-height: $baseline;
    margin-bottom: $baseline;
  }

  .module {
    max-width: $width-paragraph;
    margin: 0 auto $baseline auto;
  }

  .image,
  .big-image,
  .images,
  .video {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 2em auto 2em auto;

    @extend %clearfix;

    & + .caption {
      margin: -1em auto 3em auto;
    }
  }

  .video-16x9 {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: $width-paragraph * .5625;
    max-width: $width-paragraph;
  }

  .video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .image img {
    display: block;
    width: 100%;
    // max-width: $width-image;
    max-width: $width-paragraph;
    // padding: 0 0 0 ($width-image - $width-paragraph);
    margin: 0 auto;
  }

  .big-image img {
    width: 100%;
    margin: 0 auto;
  }

  .images-2x2 img {
    box-sizing: border-box;
    padding: 2px;
    width: 50%;
    float: left;
    margin: 0;

    &:nth-child(odd) { padding-left: 0; }
    &:nth-child(even) { padding-right: 0; }
  }

  .images-3x1 img {
    box-sizing: border-box;
    padding: 2px;
    width: 33.3%;
    float: left;
    margin: 0;

    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }

  ul {
    max-width: $width-paragraph;
    margin: 0 auto;
    padding: 0 0 0 33px;
    list-style: circle;
    
    li {
      margin-left: 0px;
      margin-bottom: $baseline/2;

      font-size: $font-small;
      line-height: $baseline;
    }
  }

  .notes {
    margin: $baseline*2 auto 0 auto;
    max-width: $width-paragraph;
    padding: 0 $page-padding;

    p {
      font-size: $font-small;
      padding: 0;
      color: $grey;
    }
  }

  a:link,
  a:visited {
    border-bottom: 1px solid #ddd;
  }
  a:hover {
    border-color: #ccc;
  }

  &.note {
    color: lighten($black, 25%);
    font-size: $font-small;
    font-style: italic;
  }
}
.article-heading {
  margin-bottom: $baseline*2;
}
.article-title {
  margin-bottom: $baseline !important;
}
.article-date {
  font-size: $fontSize-small;
  color: $grey;
}

@media screen and (max-width: 500px) {
  
  article .image img {
    padding: 0;
  }

  article .images-2x2 img,
  article .images-3x1 img {
    width: 100%;
    float: none;
    padding: 0;
  }
}

@media screen and (max-width: 920px) {
  article .image img {
    padding: 0;
  }
}