.project {
	margin: 0 0 $baseline*2 0;

	p {
		color: $grey;
		font-size: $font-small;
		padding: 0;
		margin: 0 auto;
	}

	h4 {
		font-family: $font-display;
		font-size: $font-regular;
		line-height: $baseline;
		padding: 0;
		margin: 0 0 $baseline/2 0;
	}
}