// Sub-page stuff should slowly move here

.section h2 {
  font-family: $font-display;
  font-size: $font-large;
  text-align: center;
  padding: 0 $page-padding;
}

.subtitle {
  text-align: center;
  font-weight: 300;
  margin: -$baseline/2 0 $baseline*3 0;
  padding: 0 $page-padding;
}

// For titles that will appear multiple times in one page
.inline-title {
  text-align: center;
  font-family: $font-display;
  font-weight: 300;
  text-decoration: underline;
}

.description {
  margin-top: $baseline;
}

p {
  padding: 0 $page-padding;
}

.left {
  float: left;
}

.right {
  float: right;
}

.left-half,
.right-half {
  box-sizing: border-box;
  width: 45%;
}

.left-half {
  margin-right: 5%;
}

.right-half {
  margin-left: 5%;
}

@media screen and (max-width: 600px) {
  .left,
  .right,
  .left-half,
  .right-half {
    box-sizing: border-box;
    padding: 0 $page-padding;
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}