// Sub-page stuff should slowly move here


// Terrible name
.description {
  margin-top: $baseline;
}

p {
  padding: 0 $page-padding;
}

.left {
  float: left;
}

.right {
  float: right;
}

.left-half,
.right-half {
  box-sizing: border-box;
  width: 45%;
}

.left-half {
  margin-right: 5%;
}

.right-half {
  margin-left: 5%;
}

@media screen and (max-width: 600px) {
  .left,
  .right,
  .left-half,
  .right-half {
    box-sizing: border-box;
    padding: 0 $page-padding;
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}