.page-title {
  max-width: $width-paragraph;

  margin: $baseline*3 auto $baseline auto;

  color: rgb(0,0,0);

  font-family: $font-display;
  font-size: $font-large;
  font-weight: 300;
  text-align: center;
}

.inline-title {
  text-align: center;
  font-family: $font-display;
  font-weight: 300;
  text-decoration: underline;
}

.header-divider {
  display: block;
  width: $baseline*4;
  margin: 0 auto $baseline*4 auto;
  height: 1px;
  border-bottom: 2px solid $gold;
}

.gold .header-divider {
  border-color: rgb(255,255,255);
}

@media screen and (max-width: 600px) {
  .page-header,
  .header-divider {
    padding-left: $page-padding;
    padding-right: $page-padding;
  }
}