/* Colors */
$black: #333;
$accent: #2c8649;
$gold: #f2c200;
$blue: #3db5f3;
$red: #d64128;
$grey: #aaa;
$lightgrey: #eee;

/* Typography */
// http://modularscale.com/scale/?px1=16&px2=24&ra1=1.618&ra2=0
$font-small: 15px; // Divergent from scale
$font-regular: 16px;
$font-medium: 24px;
$font-large: 38px;
$baseline: 24px;

/* Widths */
$width-paragraph: 630px;
$width-image: 780px;
$page-padding: 16px;

$font-sans: 'Ideal Sans SSm A', 'Ideal Sans SSm B';
$font-text: 'Ideal Sans SSm A', 'Ideal Sans SSm B';