/* Colors */
$black:     #333;
$accent:    #2c8649;
$gold:      #f2c200;
$blue:      #3db5f3;
$red:       #d64128;
$midgrey:   rgb(100,100,100);
$grey:      #aaa;
$lightgrey: #eee;

/* Typography */
$font-small:   15px;
$font-regular: 16px;
$font-medium:  24px;
$font-large:   38px;

// New variable names
$fontSize-tiny:     12px;
$fontSize-small:    15px;
$fontSize-regular:  17px;
$fontSize-body:     18px;
$fontSize-medium:   24px;
$fontSize-large:    38px;
$baseline:          $fontSize-regular * 1.6;

/* Widths */
$width-paragraph: 630px;
$width-image:     780px;
$page-padding:    16px;

$font-sans: 'jaf-facitweb-1', 'jaf-facitweb-2';
$font-body: 'calluna-1', 'calluna-2';