@import 'utilities';

// Home

.heading-2 {
  font-family: $font-text;
  font-weight: 700;
  font-size: $fontSize-medium;
}

.siteWrapper {
  @include u-blockCenter();
  padding-left: $page-padding;
  padding-right: $page-padding;
}

.list {
  list-style: none;
  padding: 0;
  margin-bottom: $baseline*6;
}
.listItem {
  font-size: $fontSize-small;
  line-height: $baseline;
  margin: 0;
  margin-bottom: $baseline*2;
  padding: 0;
}
.listItem-title {
  font-family: $font-text;
  font-style: italic;
  font-weight: 500;
  display: block;
  margin: 0 0 $baseline/2 0;
}
.listItem-description {
  vertical-align: top;
  padding: 0;
  margin: 0;
  max-width: 26em;
}
.maxWidthPhoto {
  display: block;
  max-width: 100%;
  margin-bottom: $baseline;
}
.descriptionText {
  font-size: $fontSize-small;
  line-height: $baseline;
  max-width: 26em;
}