@import 'utilities';

.list {
  list-style: none;
  padding: 0;
  margin-bottom: $baseline*3;
}
.listItem {
  font-size: $fontSize-regular;
  line-height: $baseline;
  margin: 0;
  margin-bottom: $baseline/2;
  padding: 0;
}
.listItem-date {
  display: block;
  font-size: 12px;
  line-height: $baseline/2;
  color: $grey;
}
.listItem-title {
  font-family: $font-sans;
  font-weight: 300;
  display: block;
  margin: 0;
}