@import 'utilities';

// Home
.list {
  list-style: none;
  padding: 0;
  margin-bottom: $baseline*3;
}
.listItem {
  font-size: $fontSize-regular;
  line-height: $baseline;
  margin: 0;
  margin-bottom: $baseline;
  padding: 0;
}
.listItem-title {
  font-family: $font-sans;
  font-weight: 500;
  display: block;
  margin: 0;
}
.listItem-date {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 1em 0 0;
  margin: 0 0 0 -8em;
  font-weight: 300;
  width: 8em;
  color: $midgrey;
  font-size: $fontSize-small;
  text-align: right;
}
@media only screen and (max-width: 800px) {
  .listItem-date {
    display: block;
    line-height: $baseline;
    margin: 0;
    text-align: left;
  }
}