@import 'normalize';
@import 'helpers';

/* Colors */
$black: #444;
$accent: #e34a35;

/* Typography */
// http://modularscale.com/scale/?px1=16&px2=24&ra1=1.618&ra2=0
$font-small: 11px; // Divergent from scale
$font-regular: 16px;
$font-medium: 24px;
$font-large: 38px;
$baseline: 24px;

/* Widths */
$width-paragraph: 630px;
$width-image: 780px;
$page-padding: 16px;

$font-display: 'Surveyor SSm A', 'Surveyor SSm B', serif;

* {
	text-rendering: optimizeLegibility;
}

body {
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', sans-serif;
	font-weight: 300;
}

a:link, a:visited {
	color: $black;
	text-decoration: none;
}
a:hover {
	color: darken($black, 5%);
}

#wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

header {
	width: $width-paragraph;
	padding: 0 $page-padding;
	margin: ($baseline * 2) auto;

	@extend %clearfix;
}

h1 {
	font-weight: 400;
	font-size: $font-regular;
	font-family: $font-display;
	line-height: $baseline;
	margin: 0 ($baseline * 1.5) 0 0;
	padding: 0;
	float: left;
}

#nav {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	height: $baseline;

	@extend %clearfix;

	li {
		padding: 2px 0 0 0; // Push it down to the baseline grid
		display: block;
		font-weight: 500;
		margin: 0 ($baseline / 2) 0 0;
		font-size: $font-small;
		line-height: $baseline;
		text-transform: uppercase;
		float: left;
	}
}

header a:link, header a:visited {
	color: $accent;
	transition: color 0.4s ease-in-out;
}
header a:hover {
	color: #a34323;
}

article {

	h2 {
		font-family: $font-display;
		font-weight: 400;
		font-size: $font-medium;
		max-width: $width-paragraph;
		margin: 0 auto $baseline auto;
		padding: 0 $page-padding;
		word-wrap: normal;
	}

	p {
		//font-family: "chaparral-pro", serif;
		font-size: $font-regular;
		color: $black;
		line-height: $baseline;
		max-width: $width-paragraph;
		margin: 0 auto $baseline auto;
		padding: 0 $page-padding;
	}

	.image,
	.big-image,
	.images {
		width: 100%;
		max-width: 100%;
		padding: 0;
		margin: 2em auto 2em auto;

		@extend %clearfix;
	}

	.image img {
		display: block;
		width: 100%;
		max-width: $width-image;
		padding: 0 0 0 ($width-image - $width-paragraph);
		margin: 0 auto;
	}

	.big-image img {
		width: 100%;
		margin: 0 auto;
	}

	.images-2x2 img {
		box-sizing: border-box;
		padding: 2px;
		width: 50%;
		float: left;
		margin: 0;

		&:nth-child(odd) { padding-left: 0; }
		&:nth-child(even) { padding-right: 0; }
	}

	.images-3x1 img {
		box-sizing: border-box;
		padding: 2px;
		width: 33.3%;
		float: left;
		margin: 0;

		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; }
	}
}

@media screen and (max-width: 500px) {

	header h1,
	#nav {
		float: none;
	}

	#nav { margin-top: $baseline/2; }
	
	article .image img {
		padding: 0;
	}

	article .images-2x2 img,
	article .images-3x1 img {
		width: 100%;
		float: none;
		padding: 0;
	}
}

@media screen and (max-width: 920px) {
	article .image img {
		padding: 0;
	}
}