@import 'normalize';
@import 'helpers';

/* Colors */
$black: #444;
$highlight: #808996;

/* Typography */
$font-small: 15px;
$font-regular: 18px;
$font-medium: 20px;
$font-large: 36px;

/* Widths */
$width-paragraph: 630px;
$width-image: 780px;
$page-padding: 16px;

$font-display: 'Surveyor Display A', 'Surveyor Display B', serif;

* {
	text-rendering: optimizeLegibility;
}

body {
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B';
	font-weight: 300;
}

a:link, a:visited {
	color: $black;
	text-decoration: none;
}
a:hover {
	color: darken($black, 5%);
}

#wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

header {
	margin: 3em 0;
}

h1 {
	font-weight: 300;
	font-size: $font-small;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	width: $width-paragraph;
	margin: 0 auto;
	padding: 0 $page-padding;
}

article {

	h2 {
		font-family: $font-display;
		font-weight: 700;
		font-size: $font-large;
		font-style: normal;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		width: $width-paragraph;
		margin: 0 auto 0.5em auto;
		padding: 0 $page-padding;
	}

	p {
		//font-family: "chaparral-pro", serif;
		font-size: $font-regular;
		color: $black;
		line-height: 1.5em;
		max-width: $width-paragraph;
		margin: 0 auto 1.5em auto;
		padding: 0 $page-padding;
	}

	.image,
	.big-image,
	.images {
		width: 100%;
		max-width: 100%;
		padding: 0;
		margin: 2em auto 2em auto;

		@extend %clearfix;
	}

	.image img {
		display: block;
		width: 100%;
		max-width: $width-image;
		padding: 0 0 0 ($width-image - $width-paragraph);
		margin: 0 auto;
	}

	.big-image img {
		width: 100%;
		margin: 0 auto;
	}

	.images-2x2 img {
		box-sizing: border-box;
		padding: 2px;
		width: 50%;
		float: left;
		margin: 0;
	}

	.images-3x1 img {
		box-sizing: border-box;
		padding: 2px;
		width: 33.3%;
		float: left;
		margin: 0;
	}
}

@media screen and (max-width: 500px) {
	
	article .image img {
		padding: 0;
	}

	article .images-2x2 img,
	article .images-3x1 img {
		width: 100%;
		float: none;
		padding: 0;
	}
}

@media screen and (max-width: 920px) {
	article .image img {
		padding: 0;
	}
}